<h1> Módulo 4 </h1>
Luis Eduardo Rojas Zepeda - A01794121 <br>
Python for Data Science <br>
Working with Data in Python

<h2> Leyendo archivos con <b>Open<b> </h2>

In [ ]:
### Código de Ejemplo (no ejecutar)

File1 = open("directory", "w");

with open ("archive", "r") as File1:
  file_stuff = File1.read()
  print(file_stuff)


with open ("archive", "r") as File1:
  file_stuff = File1.readlines()
  print(file_stuff)

<h2> Lab 1 - Leyendo archivos </h2>

In [36]:
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "example1.txt")

In [37]:
example1 = "example1.txt"
file1 = open(example1, "r")

# Print the path of file
file1.name

'example1.txt'

In [38]:
# Print the mode of file, either 'r' or 'w'
file1.mode

'r'

In [39]:
# Read the file
FileContent = file1.read()

# Print the file with '\n' as a new line
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [41]:
# Type of file content
type(FileContent)

str

In [42]:
# Close file after finish
file1.close()

<h3> Abrir archivo con <b>with</b> </h3>

In [43]:
# Open file using with
print("Contenido con with:")
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Contenido con with:
This is line 1
This is line 2
This is line 3

In [45]:
# Verify if the file is closed
file1.closed

True

In [46]:
# Read first four characters
with open(example1, "r") as file1:
    print(file1.read(4))

This

In [47]:
# Read certain amount of characters
with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [48]:
# Read one line
with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [49]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [53]:
# Iterate through the lines
with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [52]:
# Read all lines and save as a list
with open(example1, "r") as file1:
    FileasList = file1.readlines()

# Print the first line
FileasList[0]

'This is line 1 \n'

<h2> Lab 2 - Escribir Archivos </h2>

<h3>Escribir</h3>

In [57]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [58]:
# Read file
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [59]:
# Write lines to file
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [60]:
# Check whether write to file
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [61]:
# Sample list of text
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [62]:
# Write the strings in the list to text file
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [63]:
# Verify if writing to file is successfully executed
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [64]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

<h3>Agregando</h3>

In [65]:
# Write a new line to text file
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [66]:
# Verify if the new line is in the text file
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

<h3> Otras funciones</h3>

In [67]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 55
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E

Location after read: 55

In [68]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E

<h3>Copiando un archivo</h3>

In [70]:
# Copy file to another
with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)
                
# Verify if the copy is successfully executed
with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E

<h3>Ejercicio</h3>

In [72]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [73]:
  
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    # TODO: Open the currentMem file as in r+ mode
        #TODO: Open the exMem file in a+ mode

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.

        #TODO: iterate through the members and create a new list of the innactive members

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem

    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()    


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    90604      2015-6-13    yes
    80348      2018-5-12    yes
    92301      2020-6-13    yes
    81383      2018-6-16    yes
    32761      2020-11-11   yes
    31614      2016-2-10    yes
    68572      2018-5-24    yes
    51540      2018-7-15    yes
    19702      2015-5-18    yes
    11162      2017-1-11    yes

Inactive Members:


Membership No  Date Joined  Active
    24235      2019-11-3    no
    66023      2020-10-17   no
    10793      2016-12-2    no
    68144      2016-12-6    no
    22317      2020-5-20    no
    62085      2015-1-12    no
    40795      2015-11-13   no
    83208      2020-9-3     no
    62334      2018-10-22   no
    65338      2019-11-19   no
    11870      2017-4-15    no
    91690      2018-10-12   no
    18897      2019-6-19    no

<h2>Importando datos con <b>Pandas</b></h2>

In [ ]:
# Código ejemplo (no ejecutar)

Lines = ["This is line A\\n", "This is line B\\n", "This is line C\\n"]
with open ("directory", "r") as File1:
    for line in Lines:
        File1.write(line)

<h3> Copiando archivos con <b>Open y write</b></h3>

In [ ]:
with open ("file1", "r") as File1:
  with open ("newfile", "w") as File2:
    for line in File1:
      File2.write(line)

<h3> Creando archivos con <b>Open y write</b></h3>

In [ ]:
import pandas as pd

csv_path = "file1.csv"
df = pd.read_csv(csv_path)
df.head()

xlsx_path = "file2.xlsx"
df2 = pd.read_xlsx(xlsx_path)
df2.head()

<h3> Crear Dataframe</h3>

In [ ]:
songs = {'Album' : ["Thriller", "Black in Black"], 'Realeased' : [1982, 1980]}
x = df[['Realeased']]
df.ix[0,0]:'Michael Jackson'
df.ix[0,'Artist']:'Michael Jackson'

z = df.ix[0:2, 0:3]
z = df.ix[0:2, 'Artist':'Realeased']

<h3> Métodos de DataFrame </h3>

In [ ]:
df['Realeased'].unique()
df['Realeased'] >= 1980
df1 = df[df['Realeased']>=1980]
df1.to_csv('new_file.csv')

<h2>1er Quiz</h2>

In [74]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [75]:
# Display the first three rows:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [76]:
# Obtain column  'a' :
df['a']

0    11
1    21
2    31
Name: a, dtype: int64

<h2>2do Quiz</h2>

In [77]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [80]:
# Find the unique values in column  'a' :
df['a'].unique()

array([1, 2], dtype=int64)

In [79]:
# Return a dataframe with only the rows where column  a  is less than two:
df[df['a']<2]

   a  b
0  1  1
2  1  1

<h2>Lab 3 - Introduction to Pandas </h2>

In [82]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

import piplite
await piplite.install(['xlrd','openpyxl'])

In [83]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

In [84]:
# Print first five rows of the dataframe
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [85]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel("TopSellingAlbums.xlsx")
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [86]:
# Access to the column Length
x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

<h3>Vista de los datos </h3>

In [87]:
# Get the column as a series
x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

In [88]:
# Get the column as a dataframe
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [89]:
# Access to multiple columns
y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

In [90]:
# Access the value on the first row and the first column
df.iloc[0, 0]

'Michael Jackson'

In [91]:
# Access the column using the name
df.loc[1, 'Artist']

'AC/DC'

In [92]:
# Slicing the dataframe
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

<h2>Quiz de DataFrame </h2>

In [93]:
# Use a variable q to store the column Rating as a dataframe
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [94]:
# Assign the variable q to the dataframe that is made up of the column Released and Artist:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [95]:
# Access the 2nd row and the 3rd column of df:
df.iloc[1, 2]

1980

In [96]:
# Use the following list to convert the dataframe index df to 
# characters and assign it to df_new; find the element corresponding to the row 
# index a and column 'Artist'. Then select the rows a through d for the column 'Artist'
new_index=['a','b','c','d','e','f','g','h']

df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object